[run]
branch = True
source =
    accounts
    accounting
    budget
    net_worth
    core
    memberships
    config

[report]
skip_covered = True
show_missing = True
omit =
    */migrations/*
    */tests.py
    */tests/*
