DJANGO_SECRET_KEY=change-me-in-dev
DJANGO_DEBUG=0-or-1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=xxxx

CORS_ALLOWED_ORIGINS=http://localhost:xxxx


SEED_CREATE_ADMIN=0-or-1
SEED_ADMIN_USERNAME=username
SEED_ADMIN_EMAIL=email
SEED_ADMIN_PASSWORD=password
SEED_FORCE_ADMIN_PASSWORD=0-or-1


FX_PIVOT=USD
